<h1>
    Reset Password
</h1>

<%
    if (typeof error !== 'undefined') {
%>
    <h3 style="color: red;"><%= error %></h3>
<%
    }
%>

<form action="/reset-password?token=<%= resetData.token %>" method="POST" id="passwordForm">
    <input type="hidden" name="user_id" value="<%= resetData.user_id %>">
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="New Password">
    <br><br>
    
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
    <br><br>
    
    <input type="submit" value="Reset Password"/>
</form>
